<!DOCTYPE html>
<html lang="en">

<head>
	{% block pageTitle %}
	{% endblock %}
		
	<meta charset="utf-8" />

	{% load staticfiles %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'css/mycss.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'css/buttons.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'css/dialog.css' %}" type = "text/css"/>
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/dialog.js' %}"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'responsive-table/vendor/animate/animate.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'responsive-table/vendor/select2/select2.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'responsive-table/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'responsive-table/css/main.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'responsive-table/css/util.css' %}" type = "text/css"/>	
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		
		<br>
		{% block pageHeading%}
		{% endblock %}
		
		<br>
		{% block content %}
		{% endblock %}	

		{% block scripts %}
		{% endblock %}
	</div>
		
</body>

</html>