{% extends "supervisor/base.html" %} 
{% load widget_tweaks %} 

{% block pageTitle %}
    <title>Manage Doctors</title>   
{% endblock %} 

{% block pageHeading %}
    <h4 align="center">Manage availibility of doctors for different clinics</h4>
    <hr>
{% endblock %} 


{% block content %}
<div style="display: flex; justify-content: space-evenly">
    <div style="width: 20rem" >
        
        <!-- Speciality select drop down -->
        <form class="col-lg-15 input-group">
            <div class="form-group">
                <label>Select Speciality</label>
                <select class="form-control" id="speciality-select">
                    <option disabled selected value id="def-val-spec"> --- </option>
                    <option>Medical</option>
                    <option>ACCU</option>
                    <option>PT</option>
                    <option>Chiro</option>
                </select>
            </div>
        </form>
        <br>

        <!-- Clinic select drop-down -->
        <form class="col-lg-15 input-group">
            <div class="form-group">
                <label>Select Clinic</label>
                <select class="form-control pull-right" id="clinic-select">
                    <option id="def-val-clinic" disabled selected value> --- </option>
                    {% for clinic in clinics %}
                        <option>{{ clinic.clinic_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <br>

        <!-- Selected Clinics list -->
        <div class="card" style="width: 14rem;">
            <div class="card-header">
            Selected Clinics
            </div>

            <ul class="list-group list-group-flush" id="clinic_list">
            </ul>
        </div>

        <br>

        <!-- Submit and View Assignments button -->
        <div class="btn-group" style="position:absolute; bottom:15px; left:auto; margin:0; padding:5px 3px;">
                <button type="button" id="assign-docs" class="btn btn-outline-primary">Assign Doctors</button>
                <button type="button" id="admin-btn" class="btn btn-outline-primary float-right ">View Assignments</button>  
        </div>
          
    </div>
  
    <!-- Doctor Table -->
    <div class="wrap-table100">
        <div class="table">

            <div class="row header" id="heading">
                <div class="cell">Doctor</div>
            </div>
        </div>
    </div>
</div>

{% endblock %} 


{% block scripts %}
<script>
    document.getElementById("admin-btn").onclick = function () {
        location.href = "/admin/supervisor/doctorassignment/";
    };

    var ajax_doctors;
    $(document).ready(function () {

        $.ajax({
            type: 'GET',
            url: 'get_doctors/',

            success: function (json) {
                ajax_doctors = JSON.parse(json.doctors);
            },

            error: function () {
                dialog.alert({
                    message: "Error! Doctors could not be fetched!",
                    animation: "fade",
                });
            }
        })
    });

    var speciality = '';
    // Adding doctors when speciality changes
    $(document).ready(function () {
        $("#speciality-select").change(function (event) {
            $("#def-val-spec").remove();    // removes default --- option from drop down list
            $('.row').not(':first').remove(); // Remove all table rows except the row headings
            event.preventDefault();          // prevent default action when button changes 
            speciality = $("#speciality-select option:selected").text(); // get the selected speciality
            add_doctors(ajax_doctors, speciality);
        });
    });
    
    // Adds doctors of selected speciality to the table
    var doctorsArr = [];
    function add_doctors(doctors, spec) {
        for (let i = 0; i < doctors.length; ++i) {
            let doc_name = doctors[i].fields.doctor_name;

            if (doctors[i].fields.doctor_speciality == spec) {
                insert_doctor_row(doc_name);
            }
            if (doctorsArr.length == doctors.length) {
                continue;
            }
            if (!doctorsArr.includes(doc_name)) {
                doctorsArr.push({ 'name':doc_name, 'spec':doctors[i].fields.doctor_speciality});
            }
        }
    }
    // Inserts a row in the table containing doctor name and check boxes

    var clinics = [];
    // When clinic selected, table is reloaded
   
    var clinic_list_index = 1;
    $(document).ready(function () {
            $("#clinic-select").change(function(event) {
            
                $("#def-val-clinic").remove();

                var selected_clinic = $("#clinic-select option:selected").text();
                
                if (clinics.includes(selected_clinic)) 
                    return;
            
                clinics.push(selected_clinic);
            
                $("#clinic_list").append(
                    '<li data-clinic="' + selected_clinic.toString() + 
                    '" class="list-group-item list-group-item-action " id="clinic-li-'+ (clinic_list_index).toString() + '">' +
                    selected_clinic + 
                    '<button class =' + '"button button-circle button-caution button-tiny float-right rem-btn"' + 
                    ' type="button"' + 
                    'data-id="' + clinic_list_index.toString() + '">' +
                    '<i class="fas fa-times"></i>' +
                    "</li>"
                )

                $(".rem-btn").click(function () {
                    var li_id = $(this).attr('data-id');
                    var clinicName = $("#clinic-li-" + li_id.toString()).attr('data-clinic');
                    clinics.splice(clinics.indexOf(clinicName), 1);
                    $("#clinic-li-" + li_id.toString()).remove();   // removing clinic from Selected Clinics list
                    $("#clinic-col-" + li_id.toString()).remove();  // removing clinic heading from table
                    
                    $('.' + clinicName.replace(/\s+|[,\/]/g, "-")).remove();
                });

                $("#heading").append(
                    '<div class="cell"' + 
                    'id="clinic-col-' + clinic_list_index.toString() + 
                    '" data-id="' + clinic_list_index.toString() + '">' +
                    selected_clinic +
                    '</div>'
                )
                clinic_list_index++;
                redraw_table(doctorsArr);  
            });
    });
    
    function redraw_table(doctors) {
        $('.row').not(':first').remove();
        
        for (let i = 0; i < doctorsArr.length; ++i) {
            if (doctorsArr[i]['spec'] != speciality)
                continue;
                
            insert_doctor_row(doctorsArr[i]['name']);
        }
    }

    function insert_doctor_row(doctor_name) {
        let checkbox_str = '';

        for(let i = 0; i < clinics.length; ++i) {

            let class_attr = clinics[i].replace(/\s+|[,\/]/g, "-");

            checkbox_str += '<div class="cell ' +
            class_attr + '" ' +
            'data-clinic-name="' + clinics[i] + '">' +
            '<input type="checkbox">'+
            '</div>'
        }

          $(".table").append(
            '<div class="row">' +
            '<div class="cell">' +
            doctor_name +
            "</div>" +
            checkbox_str
        )
    }

    $(document).ready(function () {
        $("#assign-docs").click(function(e) {
            
            let docs_selected = false;
            $(".cell input:checked").each(function() {
                let clinic = $(this).parent().attr('data-clinic-name');
                let doc = $(this).parent().parent().first().text();
                docs_selected = true;

                $.ajax({
                    type: 'POST',
                    url: 'assign_doctor/',
                    data: {
                        name: doc,
                        clinic: clinic,
                    }
                });
            });
            
            $('input[type=checkbox]').prop('checked', false);   // uncheck all checkboxes in the table
            
            if (docs_selected) {
                dialog.alert({
                    message: "Assignments performed succesfully",
                    animation: "fade",
                });
            }
            else {
                dialog.alert({
                    message: "You did not select any doctors!",
                    animation: "fade",
                });
            }
            
        });
    });

</script>
{% endblock %}